*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head{
margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.fname{
    padding: 10px;
}
.lname{
    padding: 10px;
}
.email {
    margin-top: 10px;
    padding: 10px;
}
.password,.cpassword {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
}
.url1 ,.url2 {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
}
.contact{
    padding: 10px;
}
.submit{
    display: block;
    padding: 10px;
    margin-left: 250px;
    margin-top: 15px;
}